@use "../abstracts/breakpoints" as breakpoints;
@use "sass:list";

$image-names: (
  "deep-earth",
  "night-arcade",
  "soccer-team",
  "grid",
  "from-above",
  "pocket-borealis",
  "curiosity",
  "fisheye"
);

.image-cards {
  --clr-gradient-top: rgba(0, 0, 0, 0.1);
  --clr-gradient-bottom: rgba(0, 0, 0, 0.6);

  div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0.5rem;
    padding-top: 5rem;
    @include breakpoints.media(medium) {
      background-size: stretch;
      padding-top: 11rem;
    }
  }

  @each $name in $image-names {
    $i: list.index($image-names, $name);

    div:nth-of-type(#{$i}) {
      background-image: linear-gradient(
          var(--clr-gradient-top),
          var(--clr-gradient-bottom)
        ),
        url(../assets/images/mobile/image-#{$name}.jpg);

      @include breakpoints.media(large) {
        background-image: linear-gradient(
            var(--clr-gradient-top),
            var(--clr-gradient-bottom)
          ),
          url(../assets/images/desktop/image-#{$name}.jpg);
      }
    }
  }

  button {
    @include breakpoints.media(medium) {
      grid-column: 4;
      grid-row: 1;
    }
  }
}
