@use "../abstracts/functions" as functions;
@use "../abstracts/breakpoints" as breakpoints;

.height-100vh {
  min-height: 100vh;
}
.height-100 {
  height: 100%;
}
@include breakpoints.media-down(medium) {
  .width-sm-375 {
    max-width: functions.rem(375);
  }
}

@include breakpoints.media(medium) {
  .width-lg-50 {
    width: 50%;
  }
  .height-lg-min {
    min-height: auto;
    max-height: auto;
  }
}
